/* Styles pour le tableau */
.table {
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 18px;
    text-align: center;
    background-color: rgb(50,51,52);
    color:antiquewhite;
}
.table th, .table td {
    padding: 10px; 
}
.table thead tr {
    background-color: #767677;
    color: antiquewhite;
    text-align: center;
    font-weight: bold;
}
.table tbody tr {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    
}

.table tbody tr:nth-of-type(even) {
    background-color: #38393a; 
}

.table tbody tr:nth-of-type(odd) {
    background-color: #2d2e2f; 
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #f6f8f8;
}

.table tbody tr:hover {
    background-color: #4d4e4f; 
    cursor: pointer;
}

/* Styles pour les liens d'action */
.table td a {
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
}

.table td a:hover {
    text-decoration: underline;
}

/* Style pour le bouton de création */
a.button {
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: antiquewhite;
    background-color: #009879;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

a.button:hover {
    background-color: #007f63;
}
/* Styles pour le formulaire */
form {
    background-color: rgb(50,51,52);
    padding: 20px;
    border-radius: 8px;
    color: antiquewhite;
    max-width: 80%;
    margin: 20px auto;
}

form label {
    display: block;
    font-weight: bold;
}

form input, form textarea, form select {
    width: 80%;
    padding: 10px;
    border: 1px solid antiquewhite#cccccc;
    border-radius: 4px;
    background-color: #2d2e2f;
    color: antiquewhite;
    margin-bottom: 20px;
}

form input::placeholder, form textarea::placeholder {
    color: #bbbbbb;
    margin-right: 5px;
}

form button {
    background-color: #009879;
    color: antiquewhite;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

form button:hover {
    background-color: #007f63;
}

/* Style pour le lien de retour */
a.back-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    background-color: #009879;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

a.back-link:hover {
    background-color: #007f63;
}
#artwork_tag{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
#artwork_tag label{
    margin: 20px;
}
.tag-selection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.checkbox-label{
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    margin: 10px 20px 10px 0px;
}
input{
    margin-right: 5px;
}
#artwork_drawingCreatedAt{
    width: 150px;
}
.form-button{
    display: flex;
    flex-direction: column;
}
.miniature-image{
    max-width: 150px;
    height: auto;
}

.back-button{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    font-size: x-large;
}


.hidden {
    display: none;
}

#form2-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(50,51,52);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

@media (max-width: 768px) {
input[type="checkbox"] {
    width: 15px;
    height: 15px;
}
}