{% extends 'base.html.twig' %}

{% block title %}Edit Artwork{% endblock %}

{% block body %}
    <h1>Edit Artwork</h1>

    {{ include('back/artwork/_form.html.twig', {'button_label': 'Modifer'}) }}

    <div id="form2-container" class="hidden">
		{{ include('back/tag/_form2.html.twig') }}
	</div>


    {{ include('back/artwork/_delete_form.html.twig') }}
{% endblock %}
