{% extends 'base.html.twig' %}

{% block title %}New Artwork
{% endblock %}

{% block body %}
	<h2>Créer un nouveau dessin</h2>

	{{ include('back/artwork/_form.html.twig') }}

	<div id="form2-container" class="hidden">
		{{ include('back/tag/_form2.html.twig') }}
	</div>
    
	<a class="button" href="{{ path('app_back_artwork_index') }}">back to list</a>
{% endblock %}
