{% extends 'base.html.twig' %}

{% block title %}Digital Artist{% endblock %}

{% block body %}
    <div class="pastille">
        {% for tag in tags %}
            {% if tag.artworks|length > 0 %}
                {% set lastArtwork = tag.artworks.last() %}
                <a href="{{ path('app_tag', {'id': tag.id}) }}">
                    <div class="pastille-content">
                        <div class="title">{{ tag.name }}</div>
                        <img class="picture" src="data:image/jpeg;base64,{{ lastArtwork.pictureMin }}">
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>    
  
{% endblock %}
