{% extends 'base.html.twig' %}

{% block title %}Digital Artist{% endblock %}

{% block body %}
<h2>Découvrez l'Art Digital sous un Nouveau Jour</h2>
<p class="presentation">Bienvenue dans mon univers créatif, un espace où l'imagination rencontre la technologie pour donner naissance à des œuvres d'art uniques et captivantes. Sur ce site, je vous invite à explorer les multiples facettes de l'art digital à travers mes yeux et ma vision.</p>
 <h3>Mes dernières créations : </h3>
 
 <div class="carousel">
        <div class="carousel-inner">
                {% for artwork in artworks %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="data:image/jpeg;base64,{{ artwork.picture }}" alt="Image {{ loop.index }}">
                            <a class="voir" href="{{ path('app_show', {'id': artwork.id}) }}">Ouvrir</a>
                    </div>
                {% endfor %}
    </div>
        <button class="carousel-control prev" onclick="prevSlide()">&#10095;</button>
        <button class="carousel-control next" onclick="nextSlide()">&#10094;</button>
  </div>






  
{% endblock %}
